{% extends "emails/base.html" %}
{% block content %}
<p>
Dear {{ user_name }},
</p>
<p>
You have been invited to {{ site_title }}.
</p>
<p>
A user has already been created for you with the username {{ user_name }}. You can change it later.
</p>
<p>
You have been added to the {{ group_type }} {{ group_title }} with the following role: {{ role_name }}.
</p>
<p>
To accept this invite, please reset your password at:
</p>
<p>
<blockquote>
  <a href="{{ reset_link }}">{{ reset_link }}</a>
</blockquote>
<p>
Have a nice day.
</p>
<p>
--<br/>
Message sent by {{ site_title }} ({{ site_url }})
</p>
{% endblock %}
